.header,.footer {
	line-height: 80px;
	margin: 0px;
	background-color: #3C3C3C;
	height: 80px;
}

h1 {
	margin: 0px;
    margin-left: 20px;


	float: left;
	display: inline;
}
h2,h3,p {
	margin-left: 20px;
}

h3 {
	color:#6C6C6C;
}

.zuozhe {
	color: #8E8E8E;
}

.wenzhang {
	text-indent: 2em;
}

.daohang01 {
	margin: 0px;
	float: right;
	margin-right: 10px;

}

a {
	color: white;
	list-style: circle;
	text-decoration: none;
}

.daohang {


	display: inline;
	
}

ul {

}


.word01,.word02,.word03 {

	margin: 10px;
	border: 2px solid;
	background: #FFFFFF;
}

body {
	margin: 0px;
	background-color: #B8B8B8;
	font-family: "微软雅黑";
}

ol {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 20px auto;

}
table,th,td {
	border:1px solid black;
}

th {
	background-color: #3C3C3C;
}

.cl {
	padding-left: 20px;
	border-left: 2px solid #8E8E8E;
}

.tr01 {
	background-color: #8E8E8E;
}

.p1 {
	margin-left: 35px;
}
.p2 {
	margin-left: 48px;
}
.p3 {
	margin-left: 38px;
}
.p4 {
	margin-left: 36px;
}
.p5 {
	margin-left: 43px;
}
.p6 {
	margin-left: 43px;
}
.p7 {
	margin-left: 43px;
}
.p8 {
	margin-left: 39px;
}

.tj2 {
	width: 100%;
	padding: 4px 0px 4px 0px;
	background-color: #0080FF;
	border-radius: 25px;
}

.footer {
	text-align: center;
	color: white;
	font-weight: bold;

}

article {

	margin-right: 320px;
	
}

aside {
	width: 300px;
	position: absolute;
	top: 10px;
	right: 10px;
}

main {
	position: relative;
	overflow:hidden;
}
